<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{fragments :: head}"></div>
<title>Pizza</title>
</head>
<body class="p-5">
<div class="d-flex flex-column align-items-center justify-content-center">
	<div class="card" style="width: 18rem;">
  	<img url="" class="card-img-top">
  	<div class="card-body">
    	<h5 class="card-title text-uppercase" th:text=" ${pizza.getNome()}"></h5>
    	<p class="card-text" th:text="${pizza.getDescrizione()}"></p>
    	<p class="card-text" th:text="${pizza.getPrezzo()} + ' euro'"></p>
  	</div>
 	</div>
 	<a th:href="@{/}">Home</a>
 </div>
<div th:replace="~{fragments :: script}"></div>
</body>
</html>
<style>
	
</style>