<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
</th:block>
<thead th:fragment="table_head">
	<tr class="text-uppercase">
	    <th scope="col">nome</th>
	    <th scope="col">descrizione</th>
	    <th scope="col">prezzo</th>
	</tr>
</thead>
<tbody th:fragment="table_body_pizza(elenco)">
	    <tr th:each="elemento : ${elenco}" class="text-capitalize">
	      <td th:text="${elemento.getNome()}"></td>
	      <td th:text="${elemento.getDescrizione()}"></td>
	      <td th:text="${elemento.getPrezzo()}"></td>
	    </tr>
	  </tbody>
<div th:fragment="script">
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</div>

</body>
</html>